//VARIABILI
$heroTextColor: $defaultTextColor;
$heroH1FontSize: $defaultH1FontSize;
$HeroH1FontWeight:$defaultH1FontWeight;
$heroH4FontSize: $defaultH4FontSize;
$HeroH4FontWeight:$defaultH4FontWeight;
$heroBtnsBackground: $btnBlue;//signup_area (decommentare sotto)
$heroBtnsTextColor: $whiteTextColor;//signup_area (decommentare sotto)
$heroBtnsFontSize: $btnFontSize;//signup_area (decommentare sotto)
$HeroBtnsHoverBackground: $btnHoverBackground;//signup_area (decommentare sotto)
$HeroBtnsHoverBgTransition: $btnHoverBgTransition;//signup_area (decommentare sotto)

//STYLES

.hero {
  margin: 100px auto;
  color: $heroTextColor;
  .hero_left{
    h1 {
      line-height: 4.5rem;
      font-size: $heroH1FontSize;
      font-weight: $HeroH1FontWeight;
    }
    h4 {
      margin: 40px 0;
      line-height: 2rem;
      font-size: $heroH4FontSize;
      font-weight: $HeroH4FontWeight;
    }
    //DECOMMENTA PER MODIFICARE CON LE VARIABILI
    //GIA' PREDISPOSTE LA signup_area
    // .signup_area {
    //   margin-bottom: 20px;
    //   .btn_signup {
    //     background: $heroBtnsBackground;
    //     color: $heroBtnsTextColor;
    //     font-weight: 400;
    //     font-size: $heroBtnsFontSize;
    //     transition: $HeroBtnsHoverBgTransition background;
    //     &:hover {
    //       background: $HeroBtnsHoverBackground;
    //     }
    //   }
    //   span {
    //     margin: 0px 10px;
    //   }
    // }
  }
  .hero_right {
    text-align: right;
    img {
      max-width: 90%;
    }
  }
}
