//VARIABILI
$heroTextColor: $defaultTextColor;
$heroH1FontSize: $defaultH1FontSize;
$HeroH1FontWeight:$defaultH1FontWeight;
$heroH4FontSize: $defaultH4FontSize;
$HeroH4FontWeight:$defaultH4FontWeight;
$heroBtnsBackground: $btnBlue;
$heroBtnsTextColor: white;
$heroBtnsFontSize: $btnFontSize;
$HeroBtnsHoverBackground: #233569;
$HeroBtnsHoverBgTransition: 0.3s;

//STYLES

.hero {
  margin: 100px auto;
  color: $heroTextColor;
  .hero_left{
    h1 {
      line-height: 4.5rem;
      font-size: $heroH1FontSize;
      font-weight: $HeroH1FontWeight;
    }
    h4 {
      margin: 40px 0;
      line-height: 2rem;
      font-size: $heroH4FontSize;
      font-weight: $HeroH4FontWeight;
    }
    .signup_area {
      margin-bottom: 20px;
      span {
        margin: 0px 10px;
      }
    }
    .btn_signup {
      background: $heroBtnsBackground;
      color: $heroBtnsTextColor;
      font-weight: 400;
      font-size: $heroBtnsFontSize;
      transition: $HeroBtnsHoverBgTransition background;
      &:hover {
        background: $HeroBtnsHoverBackground;
      }
    }
  }
  .hero_right {
    text-align: right;
    img {
      max-width: 90%;
    }
  }
}
