//REGOLE PRINCIPALI

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

a {
  color: $defaultTextColor;
  text-decoration: none;
  &:hover {
    color: $hoverDefaultTextColor;
  }
  i {
    color: $defaultTextColor;
    margin-left: $iconsMarginLeft;
  }
}

//CONTAINERS E GRID SYSTEM

//CONTAINERS E GRID SYSTEM ---> MIXINS

@mixin clearfix {
  content: '';
  display: table;
  clear: both;
}

@mixin col_6 {
  float: left;
  width: 50%;
}

@mixin col_4 {
  float: left;
  width: calc(100% / 3);
}

@mixin col_3 {
  float: left;
  width: 25%;
}

//CONTAINERS E GRID SYSTEM ---> CLASSI

.container {
  max-width: 1150px;
  margin: 0 auto;
  &.small {
    max-width: 890px;
  }
}

.row  {
  &:after {
    @include clearfix;
  }
  & > div.col_3 {
    @include col_3;
  }
  &.center_elements > div.col_3 {
    &:first-child:nth-last-child(3) {
      margin-left: calc(25% / 2);
    }
    &:first-child:nth-last-child(2) {
      margin-left: 25%;
    }
    &:first-child:nth-last-child(1) {
      margin-left: calc(75% / 2);
    }
  }
  & > div.col_6 {
    @include col_6;
  }
}

//COMPONENTI

button {
  background: white;
  &.btn_signup {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid $btnBlue;
    outline-style: none;
    font-weight: bold;
    color: $btnBlue;
    cursor: pointer;
    img.logo {
      vertical-align: middle;
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
  }
}

//COLORI

.bg_green {
  background: green;
}

.bg_red {
  background: red;
}
