

//COLORI TESTO
$defaultTextColor: #58402c;
$whiteTextColor: white;
$hoverDefaultTextColor: #30488f;
$linksDefaultTextColor: #30488f;

//COLORI BORDI
$bordersPrimary: #bdb5af;

//H1
$defaultH1FontSize: 3.5rem;
$defaultH1FontWeight: 600;

//H3
$defaultH3FontSize: 1.6rem;
$defaultH3FontWeight: 600;

//H4
$defaultH4FontSize: 1.7rem;
$defaultH4FontWeight: 500;

// H6
$defaultH6FontSize: 0.8rem;
$defaultH6FontWeight: 400;


//COLORI DI SFONDO
$backgroundPrimary: white;
$backgroundSecondary: #FFE7D2;

//ICONE
$iconsMarginLeft: 10px;

//BOTTONI
$btnBlue: #30488F;
$btnFontSize: 0.8rem;
$btnHoverBackground: #233569;
$btnHoverBgTransition: 0.3s;
