

//TESTO
$defaultTextColor: #58402c;
$hoverDefaultTextColor: #30488f;

//COLORI DI SFONDO
$backgroundPrimary: white;
$backgroundSecondary: #FFE7D2;

//ICONE
$iconsMarginLeft: 10px;

//BOTTONI
$btnBlue: #30488F;
$btnFontSize: 0.8rem;
